/* src/components/Header.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #000300;
  color: #eee;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.header {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  height: 50px;
  display: flex;

  align-items: center;
  position: relative;
  
  z-index: 100;
  font-family: "Pacifico", cursive;
}

.header a {
  color: #f7f5f5;
  margin-right: 40px;
  text-decoration: none;
  font-size: 30px;
  top: 10%;
}

.carousel {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.content .picture,
.content .author,
.content .title,
.content .topic,
.content .des {
  margin-bottom: 10px;
}

.content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.content .title,
.content .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: "Poppins";
  font-weight: 500;
}

.buttons button:nth-child(1) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

.des {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #f8f4f4;
  line-height: 1.5;
  text-align: justify;
  z-index: 100;
  padding: 10px;
}

.picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  top: 20%;
  width: 1540px;
  max-width: 80%;
  transform: translateX(25%);
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.Arrows{
  position: absolute;
  top: 80%;
  right: 70%;
  transform: translateX(25%);
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;

  text-shadow: 0 5px 10px #0004;
  
}

.Arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;

}

.Arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* Thumbnail.css */

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 70%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
  transform: translateX(-50%);
}

.thumbnail-item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.thumbnail-item.active {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.thumbnail-item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.thumbnail-item .content .title {
  font-weight: 500;
}

.thumbnail-item .content .description {
  font-weight: 300;
}











.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}












/* Arrow.css */

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}
